<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Perfil del Técnico</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>

<div class="perfil-container">

    <div class="perfil-header">
        <a href="javascript:history.back()" class="back">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div>
            <h2>Perfil del tecnico</h2>
            <p>Informacion del tecnico</p>
        </div>
    </div>

    <div class="perfil-card">

        <div class="perfil-top">
            <div class="perfil-icon">
                <i class="fas fa-user"></i>
            </div>
            <h3>Juan Perez</h3>
        </div>

        <div class="perfil-info">
            <div class="item">
                <strong>Correo electronico:</strong>
                <p>juan.perez@fumidorado.com</p>
            </div>

            <div class="item">
                <strong>Telefono:</strong>
                <p>3293901898</p>
            </div>

            <div class="item">
                <strong>Rol asignado:</strong>
                <p>Tecnico de control de plagas</p>
            </div>

            <div class="item">
                <strong>Zona asignada:</strong>
                <p>Bogota DC y alrededores</p>
            </div>
        </div>

    </div>

</div>

</body>